<material-input label="it is material input over here" ng-model="message"></material-input>
<material-input label="it is material input over here" ng-model="message"></material-input>
<material-input label="it is material input over here" ng-model="message"></material-input>
<material-input label="it is material input over here" ng-model="message"></material-input>
<material-input label="it is material input over here" ng-model="message"></material-input>
<b ng-init="message='i lie! There is no action-button at all'"> some double binding here, especialy for you: <code> {{message}} </code> </b>
