<header>
</header>
<body>
  <div class="container">
    <div class="row">
      <div id="components-tree" class="col s4">
        <h2> {{vm.title || 'stories'}} </h2>
        <ul>
          <li ng-repeat="chapter in vm.chapters">
            <h4>{{chapter.name}} </h4>
            <ul>
              <li ng-repeat="story in chapter.stories">
                <a ng-href="{{story.url}}">{{story.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col s8">
        <div class="card" id="component-layout">
          <div class="card-content">
          <ui-view name="component"></ui-view>
          </div>
        </div>
        <div>
          <ui-view name="doc"></ui-view>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
