<header>
</header>
<body>
  <div class="container">
    <div class="row">
      <div id="components-tree" class="col s4">
        <h2> {{vm.title || 'stories'}} </h2>
        <ul>
          <li ng-repeat="component in vm.components">
            <a ng-href="{{component.url}}" >{{component.name}} </a>
            <ul>
              <li ng-repeat="story in component.stories">
                {{story.name}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col s8">
        <div class="card" id="component-layout">
          <div class="card-content">
          <ui-view name="component"></ui-view>
          </div>
        </div>
        <div>
          <ui-view name="doc"></ui-view>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
