<header>
</header>
<body>
  <div class="container">
    <div class="row">
      <div id="components-tree" class="col s4">
        <h2>{{vm.title || 'stories'}}</h2>
        <div class="input-field">
          <input
            id="storybook-search"
            type="text"
            ng-model="query"
            ng-change="vm.filterChapters(query)"
          />
          <label for="storybook-search">Search</label>
        </div>
        <ul>
          <li ng-repeat="chapter in vm.chapters" >
            <div>
              <h5>{{chapter.name}}</h4>
              <ul>
                <li ng-repeat="story in chapter.filteredStories ">
                  <a ng-href="{{story.url}}">{{story.name}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
        <div class="col s8">
          <ui-view name="component"></ui-view>
          <div class="row">
            <ui-view name="doc"></ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
